<div class="relative">
  <div class="bg-black overflow-hidden">
    <img
      ngSrc="assets/computer.jpg"
      alt="background"
      height="1028"
      width="2400"
      class="blur-sm object-cover object-left h-[calc(100vh-3.5rem)] w-auto"
    />
  </div>
  <div class="absolute top-1/2 -translate-y-1/2 left-16 flex flex-col gap-3">
    <span class="text-2xl text-gray-300">HI I'M</span>
    <h1 class="text-6xl font-bold text-white">SHIVAM NAGPAL</h1>
    <span class="text-xl text-gray-300"
      >Software Engineer | Building Scalable Distributed Systems</span
    >
  </div>
</div>
